*, *:before, *:after {
box-sizing: border-box;
}
.scroll {
  overflow-y: scroll;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  width: 375px;
  background-color: white;
}

nav {
  position: fixed;
  width: 375px;
  background-color: #096B91;
  padding: 15px 0 15px 15px;
}

.top-menu {
  display: inline-block;
  margin: auto;
  color: white;
  font-size: 17px;
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  text-align: center;
  width: 85%;
}

.arrow-left {
  float: left;
  display: inline-block;
}
.icon {
  float: right;
  color: white;
  display: inline-block;
  padding-right: 10px;
}

.divider h5 {
  font-family: "SF Pro Display", "SF", sans-serif;
  font-size: 10px;
  width: 100%;
  height: 25px;
  background-color: #EFEFEF;
  text-indent: 10px;
  padding-top: 6px;
  display: inline-block;
}

h5 {
  padding-left: 10px;
}

.frequency {
  display: inline-block;
  padding-left: 20px;
  padding-top: 5px;
  width: 58%;
}

.location h1 {
  font-family: "SF Pro Display", "SF", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.0241em;
}

.location h3 {
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  font-size: 12px;
  color: #8A8A8F;
  line-height: 2;
}

.bus-number {
  display: inline-block;
  width: 20%;
  margin:auto;
}

.bus-number h2 {
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  padding-left: 2px;
  text-align: center;
  padding-bottom: 2px;

}

.bus-number h4 {
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  width: 30px;
  border-radius: 2px;
  background-color: #14CCBD;
  text-align: center;
  font-size: 16px;
  color: white;
  margin: auto;
}

.OOS h4 {
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  padding: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: lightgrey;
  text-align: center;
  font-size: 16px;
  color: white;
  margin: auto;
}
.status {
  font-family: "SF Pro Display", "SF", sans-serif;
  letter-spacing: 0.0241em;
  display: inline-block;
}

.reroute h2 {
  color: grey;
}
.delayed h2 {
  color: red;
  text-align: left;
}
.bus-stops {
  width: 100%;
  background-color: white;
}
.location {
  margin: auto;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #BCBBC1;
}